.no-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.full-view {
    height: 100%;
    max-height: calc(100vh - 3rem);
    background: rgb(33, 37, 43) none repeat scroll 0% 0%;
    overflow-y: scroll;
}

#editor {
    max-height: calc(100% - 3rem);
    height: 100%;
    -webkit-transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
    -moz-transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
    transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
}
#editor.collapsed {
    max-height: calc(100% - 16rem);
    -webkit-transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
    -moz-transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
    transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
}
.muted-black{
    background: #232323 !important;
}

#console {
    max-height: 16rem;
    height: 16rem;
}

#console.collapsed{
    max-height: 1em;
}
.inverted.flat{
    background: #1b1c1d;
    color: rgba(255,255,255,.9);
    margin: 0;
}

.footer {
    height: 3rem;
}

#consoleContent{
    visibility: hidden;
    opacity: 0;
    height: 100%;
    max-height: 0;
    overflow-y: scroll;
    overflow-x: visible;
    flex-wrap: nowrap;
    box-sizing:border-box;
    transition: max-height 0.2s, visibility 0s, opacity 1s linear;
}

#consoleContent.muted-black{
    background: #141414 !important;
    color: #f8f8f8;
}

#consoleContent pre {
    display: inherit;
    padding-left: 2%;
    padding-right: 1%;

}
.visible {
    visibility: visible !important;
    opacity: 1 !important;
    max-height: calc(100% - 1rem) !important;
    height: calc(100% - 1rem) !important;
}

.column.bordered.all {
    border: 1px #434343;
}
.column.bordered.sides {
    border-left: 1px solid #434343;
    border-right: 1px solid #434343;
}

#renderDiv{
    padding-right: 2rem;
    padding-left: 1rem;
    padding-top: 1rem;
}